.uparrow{
    color: #4F46E5;
}
.bold{
    scale: 1.3;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  }
  
  .expanded {
    height: auto;
    max-height: 1000px; /* Adjust this value as needed */
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  }