
.features-container {
    text-align: center;
    padding: 20px;
  }
  
  .features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto;
  }
  
  /* KeyFeature Card */
  .keyFeature {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .keyFeature img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .keyFeature h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .keyFeature p {
    font-size: 14px;
    color: #777;
  }
  
  