/* Style for the Orders button */
#dashboard-tab{
 background-color: blanchedalmond;
  }
  
  /* Style for the Individual Order button */
  .individual-order-button {
    background-color: #FF5733; 
    color: white; 
    border: 1px solid #FF5733; 
    padding: 8px 16px; 
    margin: 5px;
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  /* Style for the Bulk Order button */
  .bulk-order-button {
    background-color: #007ACC;
    color: white; 
    border: 1px solid #007ACC; 
    padding: 8px 16px; 
    margin: 5px; 
    border-radius: 5px; 
    cursor: pointer;
  }
  