
#dashboard-tab{
 background-color: blanchedalmond;
  }
  

.individual {
  padding: 4px 16px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s; 
}


.bulk {
  padding: 4px 16px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s; 
}

.individual:hover, .bulk:hover {
  color: blue;
}
.individualthead, .bulkthead{
  padding:2px 4px 16px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}