.maxWidth{
    max-width: 1200px;
}
.background{
    background-color: aqua;
}
.required{
    font-size: small;
    color: red;
}
.margintop{
    margin-top: 8px;
}
.cartdescp{
    font-weight: 600;
    max-width: 70%;
}
.gap{
    padding-inline: 24px;
}

.pointer{
    cursor: pointer;
}
.notAllowed{
    cursor: not-allowed;
}