.loader_container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.loader {
  width: 50%;
  height: 50%;

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.loader::after {
  z-index: 1;
  content: "";
  border: 4px solid #f3f3f3;
  border-top: 4px solid #fdc886;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite; /* Rotate the loader */
}

/* Loader animation keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
