.form{
    background-color: #4F46E5;
    text-align: center;
    font-weight: 600;
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}
.tags{
    margin-left: 0.5rem;
    cursor: pointer;
}
.tags:hover{
    border-color: #7B74EC !important;
}
.tags::selection{
    border-color: #7B74EC !important;
}
.afterprop{
    margin-right: 2rem;
    padding-top: 2rem;
    font-size: 0.8rem;
    font-weight: 500;
}
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    flex: 1;
}

.value {
    flex: 1;
    text-align: right;
}
.orderbutton{
margin: auto;
width: 100%;
text-align: center;
margin-top: 1rem;
font-size: 1.7rem;
}
