table{
    width:600px;
    height:200px ;
    border:1px solid black;
}
th{
    background-color: aliceblue;
    text-decoration-color: black;
    text-align: center;
    border:1px solid black;
    
}
td{
    text-align: center;
    border:1px solid black;

}
